@model HealthBookTracker.WebUI.Models.ViewModels.LoginViewModel

<h2>Вход</h2>

<form asp-action="Login" method="post">
    <label>Email</label>
    <input asp-for="Email" class="form-control" />

    <label>Пароль</label>
    <input asp-for="Password" class="form-control" type="password" />

    <div asp-validation-summary="All" class="text-danger"></div>
    <button type="submit" class="btn btn-primary mt-3">Войти</button>

    <div class="mt-2">
        <a asp-action="ForgotPassword" asp-controller="Account">
            Забыли пароль?
        </a>
    </div>
</form>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}