@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model HealthBookTracker.Models.Employee
@{
    ViewData["Title"] = "Добавить сотрудника";
    Layout = "_Layout";
}
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

<h2>Добавить сотрудника</h2>

<form asp-action="Create" method="post">
    <div>
        <label asp-for="FirstName">Имя</label>
        <span class="text-danger">*</span> <!-- звёздочка -->
        <input asp-for="FirstName" />
        <span asp-validation-for="FirstName" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="LastName">Фамилия</label>
        <span class="text-danger">*</span>
        <input asp-for="LastName" />
        <span asp-validation-for="LastName" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="Position">Должность</label>
        <input asp-for="Position" />
    </div>
    <div>
        <label asp-for="DateOfBirth">Дата рождения</label>
        <input asp-for="DateOfBirth" type="date" />
    </div>
    <div>
        <label asp-for="MedicalBookEndDate">Дата окончания действия медкнижки</label>
        <input asp-for="MedicalBookEndDate" type="date" />
    </div>
    <div>
        <button type="submit">Сохранить</button>
    </div>
</form>
