@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">
    <h1 class="display-4">Добро пожаловать в HealthBookTracker</h1>
    <p>Это приложение для отслеживания сотрудников и их медицинских книжек.</p>
    <p>Вы можете просмотреть список сотрудников, 
        добавить нового сотрудника и управлять их данными.</p>
    <p>Для начала работы перейдите к списку сотрудников.</p>
    <p><a class="btn btn-primary" href="http://localhost:5100/Employee">Перейти к сотрудникам</a></p>
</div>
<div class="text-center">
    <p><a class="btn btn-primary" href="http://localhost:5100/Employee/Create">
        Добавить нового сотрудника</a></p>
</div>
    

